<div class="row mb-4">
  <div class="col s12">
    <h3 class="center-align">User Listing</h3>
  </div>
</div>

<div class="row">
  <% @users.each do |user| %>
    <div class="col s4 m4">
      <%= render "user_card", user: user %>
    </div>
  <% end %>
</div>