<div class="d-flex mb-4">
  <div class="flex-grow-1">
    <h3>User Listing</h3>
  </div>
  <div>
    <%= link_to "Create user", new_user_path, class: "btn btn-primary" %>
  </div>
</div>

<div class="row justify-content-between">
  <% @users.each do |user| %>
    <div class="col-3 s3 m3 mt-3">
      <%= render "user", user: user %>
    </div>
  <% end %>
</div>