<div class="row pt-4">
  <div class="col s6 align-self-center">
    <h1 class="text-center">Welcome to Spendee</h1>
    <h4 class="text-center">Your personal spending recorder</h4>
  </div>
  <div class="col s6 card">
    <div class="card-body">
      <%= render "shared/login_form" %>
    </div>
  </div>
</div>